<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4J3uHgej2ZlvlhtubePSJG62ANK41ekE</string>
	<key>GCM_SENDER_ID</key>
	<string>259687303472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VivianRMS.keepingFit.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>keepingfit-ea291</string>
	<key>STORAGE_BUCKET</key>
	<string>keepingfit-ea291.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259687303472:ios:e78837fe6885ddac01e0f5</string>
</dict>
</plist>